<?xml version='1.0' encoding='UTF-8'?>
<Configuration>
	<Appenders>
		<Console name='console' target='SYSTEM_OUT'>
			<PatternLayout />
		</Console>
		<!-- RollingFile은 파일을 N개를 만든다. (날짜별) 
			append(true) 2번째 파일을 만들때 append를 안하면 덮어쓰기 된다.
			-->
		<RollingFile name='file' fileName='c:/DEV/spring.core.log'
			filePattern='c:/DEV/spring.core.%d{yyyy-MM-dd-HH-mm-ss}.log' append='true'>
			<PatternLayout pattern='[%-5p: %d{yyyy/MM/dd HH:mm:ss}] %m%n'/> <!-- 메세지별로 줄 바꿈 -->
			<Policies>
			<!-- 파일을 만드는 간격이다. 86400초는 24시간이다.-->
				<TimeBasedTriggeringPolicy interval='86400'/>
			</Policies>
			</RollingFile>
	</Appenders>
		
	<Loggers>		
		<Root level='info'>
			<AppenderRef ref='console' />		
			<AppenderRef ref='file'/>							
		</Root>
	</Loggers>
</Configuration>