<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>laborerServlet</display-name>
    <servlet-name>laborerServlet</servlet-name>
    <servlet-class>laborerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>laborerServlet</servlet-name>
    <url-pattern>/laborerServlet</url-pattern>
  </servlet-mapping>
  <display-name>이샘이.hr.servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>laborerServelt</display-name>
    <servlet-name>laborerServelt</servlet-name>
    <servlet-class>Servelt.laborerServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>laborerServelt</servlet-name>
    <url-pattern>/laborerServelt</url-pattern>
  </servlet-mapping>
</web-app>